* {
    margin: 0;
    padding: 0;
}
body {
background: linear-gradient(90deg, #5598b0 0%, #baa1a1 100%);
    padding: 30px;
}

a {
    text-decoration: 0;
    color: rgb(84, 68, 221);
 
}

p {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-top: 5px;
}

video {
    display: block;
    float: right;
    
    width: 100px;
}


.mybody {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(1);
}

.reserv1 {
grid-column: 1/26; 

}

.mycard {
    padding-top: 10px;
    display: inline-block;

    border-style: solid;
    border-width: 0.5px;
  
grid-column: 26/76;


}

.qw {
    display: flex;
justify-content: center;
}

.reserv2 {
grid-column: 76/101; 

}

.never {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-top: 5px;
    color: red;
}

.ver {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-top: 5px;
    color: rgb(55, 98, 4);
}

img {
    padding: 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    max-width: 47vw;
    padding-bottom: 15px;
}


.text0102 {
    display: inline-block;
    color: aliceblue;
}

.exit {
    padding: 8px;
    color: rgb(42, 13, 13);
    font-weight: bold;
}

.reserv1 a {
    display: inline-block;
color: rgb(103, 43, 43);
    border-style: solid;
    border-width: 1px;
}


@media(max-width: 700px) {
    img {
        padding: 30px;
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        justify-content: center;
        max-width: 70vw;
        padding-bottom: 15px;
    }
    .mybody {
        display: grid;
        grid-template-columns: repeat(100, 1fr);
        grid-template-rows: repeat(1);
    }
    
    .reserv1 {
    grid-column: 1/11; 
    
    }
    
    .mycard {
   
      
    grid-column: 11/91;
    
    
    }
    
 .reserv1 {
display: none;
 }
    
    .reserv2 {
    grid-column: 91/101; 
    
    }

    video {
        display: block;
        float: right;
        
        width: 50px;
    }

    .exit {
        display: none;
        padding: 0px;
        color: rgb(42, 13, 13);
        font-weight: bold;
        margin: 0;
    }
}
